alembic==1.17.2
annotated-types==0.7.0
anyio==4.11.0
certifi==2025.10.5
fastapi==0.124.4
FastAPI-SQLAlchemy==0.2.1
httpcore==1.0.9
httpx==0.28.1
psycopg2-binary==2.9.11
pydantic==2.12.3
pydantic_core==2.41.4
pytest
python-dotenv==1.2.1
sniffio==1.3.1
SQLAlchemy==2.0.44
starlette==0.49.1
typing_extensions==4.15.0
uvicorn==0.38.0
